body {
	font-family: "Noto Sans Arabic";
	margin: 0px;
	padding: 0px;
	font-family: Copperplate,verdana;
	font-size: 12px;
}

@font-face {
  font-family: "Noto Sans Arabic", sans-serif;
  src: url("lib/font/notosansarabic.woff2") format("woff");
}

.ar_txt{
	font-family: "Noto Sans Arabic";
}

.ar_txt_p {
	font-size: 15px;
}

.ar_txt .bold{
	font-weight: bold;
}

input {
	font-size:10px;
	background:#FFFFFF;
}
pre{
	font-size: 12px;
	width: 100%;
	margin: 0 auto;
	text-align: left;
	white-space:pre-wrap
}
a{
	text-decoration: none;
}
ul,ol{
	padding-left: 20px;
	line-height: 80%;
}
li{
	line-height: 150%;
}
.header{
	/*position: fixed;*/
	width: 100%;
	background-color: #fff;
}
.content-view{
	/*padding-top:320px;*/
	width: 80%;
	margin: auto;
}
.hblock{
	text-align: center;
	clear: both;
	width: 95%;
	margin: 10px auto;
	font-size: 15px;
	line-height: 150%;
}
.menu{
	text-align: center;
	background-color: #f6efef;
	padding: 1px;
}
.menu_txt {
	font-size: 10px;
}
.menu_txt a:link, .menu_txt a:visited, .menu_txt a:active {
	color:#006699;
	text-decoration:none;
}
.menu_txt a:hover {
	color:#FFFFFF;
	text-decoration:none;
	background:#B7B7FF
}
h6{
	padding:2px;
	margin:2px;
}
.avatar {
	height: 220px;
	margin: 0;
	padding: 0px;
	/*border: 1px solid #ccc;*/
	border-radius: 7px;
}
.block-img{
	width:260px;
	height:210px;
	margin:4px;
	display:inline-block;
/*	border: solid 1px #ccc;*/
	overflow: hidden;
}
.block-img img{
	width: 260px;
}
.magnify
{
	opacity: 0.9;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
}
.magnify img{
	width: 500px;
}
@media (max-width: 600px) {
	.avatar{
  		height: 45px;
	}
	.menu_txt{
  		font-size: 9px;
	}
	pre{
		font-size: 10px;
	}
	.content-view{
		width: 95%;
	}
}

.contentWrapper{
	width:90%;
	max-width: 90%;
	min-width: 90%;
	text-align: center;
	margin: auto;
}
.contentDiv, .contentDivMax{
	position: relative;
	display: inline-block;
	margin: 5px;
	width: 48%;
	text-align: left;
	vertical-align: top;
}
.contentDivMax{
	width: 100%;
}

.cblock{
	width: 100%;
	height: 100%;
	margin: 10px auto 50px auto;
}
.cblock_title{
	margin: 24px auto;
	text-align: left;
	font-weight: bold;
	font-size: 14px;
	clear: both;
}
.cblock_item{
	margin: 5px 5px 5px 1px;
	padding: 15px;
	/*border-radius: 10px;*/
	font-size: 12px;
	line-height: 160%;
	display:inline-block;
	vertical-align: middle;
	overflow: auto;
	word-break: keep-all;
	text-align: center;
  	/*border: 0.5px solid #ccc;*/
	/*background-color: #F5F5F5;*/
}
.cblock_clear{
	clear: both;
}

.block-gallery{
	display: inline-block;
	margin: auto;
	width: 90% !important;
}

.icon{
	display: inline-block;
}

.icon img{
    width:40px;
}

.vimg{
	border: solid 0.3px #ccc !important;
}
